<h2 class="ui header"> Add Alternative Product</h2>
<div class="ui checkbox">
  <input type="checkbox" class="alt-product-checkbox">
  <label>Make my profile visible</label>
</div>

<div class="ui checkbox">
  <input type="checkbox" name="example">
  <label>Make my profile visible</label>
</div>
<div class="page-container ui grid raised segment alt-product-sections">
  <!-- <p>Activate Your Business</p>
  <p>Add Products</p>
  <p>Dashboard Tour</p> -->
  <div class="ui checkbox">
  <input type="checkbox">
  <label>Label</label>
</div>
  <div class="alt-product-section">
    <div class="alt-product-checkboxes-container">
      <div class="alt-product-checkboxes">
        <p>Select a product</p>
        <div class="ui checkbox alt-product-checkbox">
          <input type="checkbox">
          <label>Make my profile visible</label>
        </div>
        <div class="ui checkbox alt-product-checkbox">
          <input type="checkbox">
          <label>Make my profile visible</label>
        </div>
        <div class="ui checkbox alt-product-checkbox">
          <input type="checkbox" name="example">
          <label>Make my profile visible</label>
        </div>
        <div class="ui checkbox alt-product-checkbox">
          <input type="checkbox" name="example">
          <label>Make my profile visible</label>
        </div>
      </div>
    </div>
  </div>
  <div class="alt-product-section">
    <div class="alt-product-checkboxes-container">
      <div class="alt-product-checkboxes">
        <p>Select an alternative product</p>
        <div class="ui checkbox alt-product-checkbox">
          <input type="checkbox" name="example">
          <label>Make my profile visible</label>
        </div>
        <div class="ui checkbox alt-product-checkbox">
          <input type="checkbox" name="example">
          <label>Make my profile visible</label>
        </div>
      </div>
    </div>
  </div>
</div>
