<h2 class="ui header"> All Products</h2>
<div class="page-container ui grid raised segment">
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price Per Unit</th>
        <th>Solid Content</th>
        <th>Category</th>
        <th>Chemical Nature</th>
      </tr>
    </thead>
    <tbody>
      <tr onclick="app.showProductDetails(1)">
        <td>Product A</td>
        <td>NGN 200.00</td>
        <td>40 - 65 %</td>
        <td>Binders /  Resins</td>
        <td>Acrylic Resins</td>
      </tr>
      <tr onclick="app.showProductDetails(2)">
        <td>Product A</td>
        <td>NGN 200.00</td>
        <td>40 - 65 %</td>
        <td>Binders /  Resins</td>
        <td>Acrylic Resins</td>
      </tr>
      <tr onclick="app.showProductDetails(3)">
        <td>Product A</td>
        <td>NGN 200.00</td>
        <td>40 - 65 %</td>
        <td>Binders /  Resins</td>
        <td>Acrylic Resins</td>
      </tr>
    </tbody>
  </table>
</div>
