<h2 class="ui header"> Getting Started</h2>
<div class="page-container ui grid raised segment">
  <div class="getstarted-search">
    <div class="container-search">
      <input class="input-search" placeholder="search for product">
      <button class="button-search button-active">Search</button>
    </div>
  </div>
  <div class="getstarted">
    <div class="getstarted-card">
      <img class="getstarted-card-icon" src="../../image/business-big.png">
      <h4 class="ui header">Activate Your Business</h4>
      <p>This would enable you make and receive payment.</p>
      <button class="ui primary basic button"> Activate My Business</button>
    </div>
    <div class="getstarted-card">
      <img class="getstarted-card-icon" src="../../image/add-product-big.png">
      <h4 class="ui header">Add Products</h4>
      <p>This would enable you make and receive payment.</p>
      <button class="ui primary basic button"> Add a Product</button>
    </div>
    <div class="getstarted-card">
      <img class="getstarted-card-icon" src="../../image/tour-big.png">
      <h4 class="ui header">Dashboard Tour</h4>
      <p>This would enable you make and receive payment.</p>
      <button class="ui primary basic button"> Take Me On a Tour</button>
    </div>
  </div>
</div>
